.container {
    background: url("img/background.png") no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Ubuntu;
}
.header {
    display: flex;
    width: 100%;
    height: 70px;
    background: rgba(0, 0, 0, 0.4);
}
.journey-link {
    /*display: flex;*/
    margin-top: 18px;
    margin-left: 79px;
}
.journey-link a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
    font-size: 22px;
}
.journey-link a:hover {
    color: rgba(60, 184, 120, 0.8);
}
.icon {
    display: flex;
    margin-top: 17px;
    margin-left: 980px;
}
.icon-cel {
    width: 24px;
    height: 25px;
    background: url("img/sprite1.png") top center;
    cursor: pointer;
    margin-right: 17px;
}
.icon-cel:hover {
    background-position: bottom center;
}
.icon-env {
    width: 24px;
    height: 25px;
    background: url("img/sprite1.png") top left;
    cursor: pointer;
    margin-right: 17px;
}
.icon-env:hover {
    background-position: bottom left;
}
.icon-com {
    width: 24px;
    height: 25px;
    background: url("img/sprite1.png") top right;
    cursor: pointer;
}
.icon-com:hover {
    background-position: bottom right;
}
.line {
    margin-left: 25px;
    margin-top: 20px;
    margin-right: 27px;
    width: 1px;
    height: 19px;
    background: rgba(255, 255, 255, 0.5);
}
.login {
    margin-top: 22px;
}
.welcome {
    font-size: 14px;
    color: #ffffff;
}
.log {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
}
.or-l {
    font-size: 14px;
    color: #ffffff;
}
.sign {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
}
.sign:hover {
    color: #3CB878;
}
.log:hover {
    color: #3CB878;
}
.cont-form {
    margin-top: 54px;
    background-color: white;
    width: 444px;
    height: 584px;
    text-align: center;
}
.form {
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-group {
    display: flex;

}
.sign-form {
    display: flex;
    margin-top: 30px;
}
.square {
    width: 18px;
    height: 18px;
    background-color: #3CB878;
}
.sign-up {
    margin-left: 43px;
    font-size: 20px;
    color: #000000;
}
.sign-in {
    display: flex;
    margin-left: 216px;
    font-size: 14px;
    color: #3CB878;
    align-items: center;
    text-decoration: none;
}
.sign-in:hover {
    text-decoration: underline;
}
a.g {
    display: inline-block;
    font-size: 16px;
    padding: 17px 27px 17px 80px;
    background: #DF4A32;
    color: #fff;
    text-decoration: none;
    line-height: 1;
    position: relative;
    border-radius: 5px;
}
.connectg:before {
    display: inline-block;
    position: relative;
    background-image: url("img/G.png");
    /*height: 23px;*/
    background-repeat: no-repeat;
    text-indent: -9999px;
    width: 29px;
    line-height: 23px;
    margin: -8px 7px -7px -30px;
    content: "g";
}
a.fb {
    display: flex;
    font-size: 16px;
    padding: 17px 22px 17px 67px;
    background: #3A5A97;
    color: #fff;
    text-decoration: none;
    line-height: 1;
    position: relative;
    border-radius: 5px;
}
.connectf:before {
    display: inline-block;
    position: relative;
    background-image: url("img/F.png");
    height: 23px;
    background-repeat: no-repeat;
    background-position: 0px 3px;
    text-indent: -9999px;
    width: 29px;
    line-height: 23px;
    margin: -8px 7px -7px -30px;
    content: "f";
}
.buttons {
    height: 48px;
    margin-top: 13px;
    display: flex;
    justify-content: center;
}
.buttons a {

    margin-right: 4px;
}
.line-or {
    display: flex;
    margin-top: 31px;
    justify-content: center;
}
.line-f {
    display: flex;
    width: 152px;
    background-color: #F2F2F2;
    height: 1px;
    margin-top: 6px;
}
.line-s {
    display: flex;
    width: 152px;
    background-color: #F2F2F2;
    height: 1px;
    margin-top: 6px;
}
.or {
    font-size: 14px;
    color: #848484;
    padding: 0px 2px;
}
.col {
    float: left;
    padding: 0 50px;
    margin-top: 6px;
}
input {
    width: 95%;
    border: 1px solid #ddd;
    padding: 5px 10px;
    height: 45px;
    opacity: 0.4;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 17px;
    margin: 5px 0;
}
input:hover {
    opacity: 1;
    background: #FFFFFF;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}
.terms {
    text-decoration: none;
    color: #3CB878;
    font-size: 14px;
}
.letter {
    font-size: 14px;
}
.terms:hover {
    text-decoration: underline;
}
button {
    width: 324px;
    margin: 10px auto 30px;
    display: table;
    font-size: 16px;
    font-weight: normal;
    padding: 16px 99px;
    background: rgba(60, 184, 120, 0.8);
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background: rgba(60, 184, 120, 1);
    transition: 1s;
}
input[type="checkbox"] {
    display: none;
}
.check {
    display: flex;
    margin-left: 10px;
}
label {
    cursor: default;
    line-height: 30px;
}
label:before {
    content: " ";
    color: #000;
    display: inline-block;
    margin-right: 8px;
    position: relative;
    width: 20px;
    height: 20px;
    background: #FFF;
    border: 1px solid #e3e3e3;
    vertical-align: middle;
}
input:checked + label:before {
    background: url("img/Vector 1.png") 100% 100% no-repeat;
}
input:disabled + label:before {
    background: #eee;
    color: #aaa;
}
.end-point {
    margin-top: 74px;
}
